
textarea::placeholder {
    text-align: center;
}

@media screen and (max-width: 768px) {
    textarea::placeholder {
        font-size: 24px;
    }
    textarea {
        width: 80%;
    }
}

@media screen and (max-width: 576px) {
    textarea {
        width: 85%;
    } 
}

@media screen and (max-width: 430px) {
    textarea {
        width: 90%;
    } 
}